cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
cloup==3.0.5
colorama==0.4.6
decorator==5.1.1
glcontext==2.5.0
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.68.0
httplib2==0.22.0
idna==3.10
isosurfaces==0.1.2
manim==0.18.1
ManimPango==0.5.0
mapbox_earcut==1.0.2
markdown-it-py==3.0.0
mdurl==0.1.2
moderngl==5.10.0
moderngl-window==2.4.6
multipledispatch==1.0.0
networkx==3.3
numpy==1.26.4
opencv-python==4.11.0.86
pillow==10.4.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.26.1
pydub==0.25.1
pyglet==2.0.17
Pygments==2.18.0
pyparsing==3.2.1
pyrr==0.10.3
requests==2.32.3
rich==13.7.1
rsa==4.9
scipy==1.14.0
screeninfo==0.8.1
skia-pathops==0.8.0.post1
srt==3.5.3
svgelements==1.9.6
tqdm==4.66.5
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
watchdog==4.0.1
